{% extends "base.html" %}
{% block title %}Jax Carls - Start{% endblock %}

{% block content %}

<body>
    <header>
        <nav class="desktop_navbar">
            <ul>
                <li>
                    <a class="active" href="#">Start</a>
                </li>
                <li>
                    <a href="./projects">Projects</a>
                </li>
                <li>
                    <a href="./cv">CV</a>
                </li>
                <li>
                    <a href="./contact">Contact</a>
                </li>
            </ul>
        </nav>

        <div class="mobile_nav">
            <button>☰ Menu</button>
            <nav class="menu">
                <ul>
                    <li>
                        <a class="active" href="#">Start</a>
                    </li>
                    <li>
                        <a href="./projects">Projects</a>
                    </li>
                    <li>
                        <a href="./cv">CV</a>
                    </li>
                    <li>
                        <a href="./contact">Contact</a>
                    </li>
                </ul>
            </nav>
        </div>


    </header>

    <section>
        <br>
        <h2 class="common_title center">Prefered languages</h2>
        <div class="gallery">
            <div>
                <img alt="picture of band member" src="{{ url_for('static', filename='images/Portfolio/C++.png') }}">
                <p class="ghost_text center">C++</p>
            </div>
            <div>
                <img alt="picture of band member" src="{{ url_for('static', filename='images/Portfolio/C.png') }}">
                <p class="ghost_text center">C</p>
            </div>
            <div>
                <img alt="picture of band member" src="{{ url_for('static', filename='images/Portfolio/C#.png') }}">
                <p class="ghost_text center">C#</p>
            </div>
            <div>
                <img alt="picture of band member" src="{{ url_for('static', filename='images/Portfolio/Python.png') }}">
                <p class="ghost_text center">Python</p>
            </div>
        </div>
    </section>

    <footer>
        <br>
        <div class="footer_rows flex_space">
            <p>Personal Website</p>
            <p>Made by Jax Carls</p>

        </div>
        <br>
    </footer>
    
</body>
{% endblock %}