{% extends "base.html" %}
{% block title %}Jax Carls - Start{% endblock %}

{% block content %}

<body>
    <header>
        <nav class="desktop_navbar">
            <ul>
                <li>
                    <a class="active" href="/">Start</a>
                </li>
                <li>
                    <a href="./projects">Projects</a>
                </li>
                <li>
                    <a href="./cv">CV</a>
                </li>
                <li>
                    <a href="./contact">Contact</a>
                </li>
            </ul>
        </nav>

        <div class="mobile_nav">
            <button>☰ Menu</button>
            <nav class="menu">
                <ul>
                    <li>
                        <a class="active" href="#">Start</a>
                    </li>
                    <li>
                        <a href="./projects">Projects</a>
                    </li>
                    <li>
                        <a href="./cv">CV</a>
                    </li>
                    <li>
                        <a href="./contact">Contact</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <section>
        <br>
        <h2 class="common_title center">Who am I?</h2>
        <div class ="profile_small">
            <h4>Hi! My name is Jax Carls and I'm currently a student at PlaygroundSquad.
            <br>
            <br>I've worked on multiple projects both at school and on my own. 
            <br> Here I will show you all the projects I've been working on that's worth mentioning.
            <br>
            </h4>
            <img alt="C++ logo" src="{{ url_for('static', filename='images/Portfolio/Me.png') }}">
        </div>
    </section>
    
    <section class ="full_size">
        <br>
        <h2 class="common_title center">Projects</h2>
        <div class ="project_container">
            <div class ="project_view">
                <img alt="C++ logo" src="{{ url_for('static', filename='images/Portfolio/DuckDuckBoom.png') }}">    
                <h4>Details</h4>  
            </div>
            <div class ="project_view">
                <img alt="C++ logo" src="{{ url_for('static', filename='images/Portfolio/helio_logo_test.jpg') }}">
                <h4 class ="project_details">Heliotrope is a student game. <br><br> You're a rabbit. How cool huh? What more can I say, perhaps something other nice things I don't know</h4>
            </div>
        </div>
    </section>

    <section>
        <br>
        <h2 class="common_title center">Prefered languages</h2>
        <div class="gallery">
            <div>
                <img alt="C++ logo" src="{{ url_for('static', filename='images/Portfolio/C++.png') }}">
            </div>
            <div>
                <img alt="C logo" src="{{ url_for('static', filename='images/Portfolio/C.png') }}">
            </div>
            <div>
                <img alt="C# logo" src="{{ url_for('static', filename='images/Portfolio/C#.png') }}">
            </div>
            <div>
                <img alt="Python logo" src="{{ url_for('static', filename='images/Portfolio/Python.png') }}">
            </div>
        </div>
    </section>

    <footer>
        <br>
        <div class="footer_rows flex_space">
            <p>Copyright  © All Rights Reserved</p>
            <p>Made by Jax Carls</p>

        </div>
        <br>
    </footer>
    
</body>
{% endblock %}